/* Casino Page Container */
.casino-container {
  min-height: 100vh;
  padding: 12px;
  display: flex;
  flex-direction: column;
  gap: 12px;
  color: black;
  background: var(--background-ctn-gradient);
  margin: 20px 15px;
  border-radius: 12px;
  @media screen and (max-width: 920px) {
    margin: 10px 5px;
    padding: 10px 6px;
  }
}

/* Scrollbar Hide */
.scrollbar-hide {
  overflow: scroll;
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.flex-row {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 8px;
}

.provider-ctn {
  background: white;
  gap: 0;
  border: 1.5px solid #45577b;
  overflow-x: auto;
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

/* Casino Provider Block */
.casino-provider-block {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 36px;
  padding: 0.5rem;
  cursor: pointer;
  border-right: 1px solid var(--reports-header-border);
  white-space: nowrap;
}

.casino-provider-block.selected {
  background: var(--bet-slip-btn);
}

.casino-provider-block.highlighted {
  animation: blink 2s infinite;
  transition: background-color 2s;
  background: var(--bet-slip-btn);
}

.casino-provider-block.matka-tab {
  animation: matkaFade 1s ease-in-out infinite;
}

@keyframes blink {
  0% {
    opacity: 1;
    background-color: gold;
  }
  50% {
    background-color: white;
  }
  100% {
    opacity: 1;
    background-color: gold;
  }
}

@keyframes matkaFade {
  0% {
    background-color: rgba(255, 255, 0, 0.1);
  }
  50% {
    background-color: rgb(255, 215, 2);
  }
  100% {
    background-color: rgba(255, 255, 0, 0.1);
  }
}

.casino-filter-text {
  font-size: 14px;
  font-weight: 600;
  text-transform: uppercase;
}

/* Casino Category Card */
.casino-category-card {
  height: 4rem;
  border-radius: 0.375rem;
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  min-width: 80px;
  height: 55px;
  border: 1px solid white;
}

.casino-category-card.selected {
  border: none;
  background: var(--bet-slip-btn);
}

.casino-category-card:not(.selected) {
  background-color: transparent;
  color: white;
}

.casino-category-icon {
  width: 1.5rem;
  filter: invert(97%) sepia(19%) saturate(59%) hue-rotate(187deg)
    brightness(124%) contrast(100%);
}

.casino-category-icon.selected {
  filter: none;
}

.casino-category-text {
  font-size: 10px;
  text-transform: capitalize;
}

/* Casino Game Grid */
.casino-game-grid {
  display: grid;
  grid-template-columns: repeat(4, minmax(0, 1fr));
  gap: 8px;
  @media screen and (max-width: 920px) {
    gap: 4px;
  }
}

@media (min-width: 640px) {
  .casino-game-grid {
    grid-template-columns: repeat(4, minmax(0, 1fr));
  }
}

@media (min-width: 768px) {
  .casino-game-grid {
    grid-template-columns: repeat(6, minmax(0, 1fr));
  }
}

/* Casino Game Card */
.casino-game-card {
  width: 100%;

  @media screen and (max-width: 920px) {
    height: 5rem;
  }
}

.casino-game-image {
  border-radius: 10px;
  overflow: hidden;
  cursor: pointer;
  width: 100%;
  height: 100%;
  object-fit: inherit;
  object-position: inherit;
  @media screen and (max-width: 920px) {
    border-radius: 4px;
  }
}

.casino-game-placeholder {
  height: 8rem;
  background-color: #e5e7eb;
  display: flex;
  justify-content: center;
  align-items: center;
}
